{% extends 'base.html' %}

{% block title%}Virtual Pantry - {{current_user.first_name}} {{current_user.last_name}}{% endblock %}

{% block contents %}
<h1>Virtual Pantry</h1>
<div>
    <h3>Pantries</h3>
    {% for pantry in current_user.pantries %}
        <a href="{{url_for('view_pantry',p_id=pantry.id)}}">{{pantry.name}}</a>
    {% endfor %}
    <a href="{{url_for('new_pantry')}}">New Pantry</a>
</div>
<div>
    <h3>Recipes</h3>
    {% for r in current_user.saved_recipes %}
    <div>
        <a href="{{url_for('view_recipe',id=r.id)}}">{{r.name}}</a>
        {% if r not in current_user.saved_recipes %}
            <form action="{{url_for('save_recipe',id=r.id)}}" method="post">
                <button type="submit">Save Recipe!</button>
            </form>
        {% else %}
            <form action="{{url_for('unsave_recipe',id=r.id)}}" method="post">
                <button type="submit">Unsave Recipe</button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
    
    <a href="{{url_for('new_user_recipe')}}">Add Recipe!</a>
    <div>
        <h4><a href="{{url_for('view_recipe',id=rec.id)}}">{{rec.name}}</a></h4>
        {% if rec not in current_user.saved_recipes %}
            <form action="{{url_for('save_recipe',id=rec.id)}}" method="post">
                <button type="submit">Save Recipe!</button>
            </form>
        {% else %}
            <form action="{{url_for('unsave_recipe',id=rec.id)}}" method="post">
                <button type="submit">Unsave Recipe</button>
            </form>
        {% endif %}
        <img src="{{rec.image}}" alt="">
    </div>
</div>

{% endblock %}