{% extends 'base.html' %}

{% block title %}New Recipe{% endblock %}


{% block contents %}

<h2>Add New Recipe</h2>
    <form action="{{ url_for('new_user_recipe') }}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
            if field.widget.input_type != 'hidden' and field.type != "FieldList" %}
        <div class="form-group mt-2">
                {{field.label(class="form-label")}}
                {{field(class="form-control")}}
        </div>

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        <div id="ing-wrapper" class="form-group">
                {{form.ingredients.label(class="mt-2")}}              
                <fieldset class="ing-field input-group border border-primary container-fluid py-2">   
                    <div class="me-auto">  
                        {{form.ingredients.append_entry()}}
                    </div> 
                    <button id="add-ing-field" class="btn btn-sm btn-secondary">+</button>  
                </fieldset>
                {% for x in range(0,17) %}
                <fieldset class="ing-field input-group border border-primary container-fluid collapse py-2">  
                    <div class="me-auto">  
                        {{form.ingredients.append_entry()}}
                    </div> 
                    <button id="add-ing-field" class="btn btn-sm btn-secondary">+</button> 
                    <button id="remove-ing-field" class="btn btn-sm btn-danger">-</button>
                </fieldset>
                {% endfor %}

        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="../static/new_recipe.js"></script>
{% endblock %}