{% extends 'base.html' %}

{% block title%}{{pantry.name}} - {{current_user.first_name}} {{current_user.last_name}}{% endblock %}

{% block contents %}
<h1>{{pantry.name}}</h1>
<div>
    <h3>Ingredients</h3>
    <ul id="ing-list">
        {% for i in pantry.ingredients %}
            <li><a href="{{url_for('recipe_search',ing=i.name)}}">{{i.name}}</a>
                <form action="{{url_for('pantry_ingredient_remove', p_id=pantry.id,i_id=i.id)}}" method="post">
                    <button type="submit">&#10005;</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <h3>Add Ingredients</h3>
    <div class="search-container" >
        <input type="text" name="ing" id="ing" placeholder="Search Ingredient" data-pantry-id="{{pantry.id}}">
        <div class="suggestions">
            <ul></ul>
        </div>
    </div>
</div>
{% block script %}
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="../static/add_ingredients.js"></script>
{% endblock %}
{% endblock %}