{% extends 'base.html' %}

{% block title%}{{pantry.name}} - {{current_user.first_name}} {{current_user.last_name}}{% endblock %}

{% block contents %}
<h1>{{pantry.name}}</h1>
<hr>
<div class="row">
    <div class="col-lg-9 border-right">
        <h3>Ingredients</h3>
        <ul id="ing-list" class="" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
            {% for i in pantry.ingredients %}
            <div class="rounded border border-primary px-3 py-2 my-2 mx-1">
                <li>
                    <form action="{{url_for('pantry_ingredient_remove', p_id=pantry.id,i_id=i.id)}}" method="post">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <h5><a href="{{url_for('recipe_search',ing=i.name)}}" class="link-opacity-50-hover p-6">{{i.name}}</a></h5>
                            <span class="m-2"></span>
                            <button class="btn btn-sm btn-danger" type="submit">&#10005;</button>
                        </div>
                    </form>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-auto" style="width: 15%;">
        <h3>Add Ingredients</h3>
        <div class="search-container" >
            <input type="text" name="ing" id="ing" placeholder="Search Ingredient" data-pantry-id="{{pantry.id}}">
            <div class="suggestions list-group">
                <ul class="list-group"></ul>
            </div>
        </div>
    </div>
</div>
{% block script %}
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="../static/add_ingredients.js"></script>
{% endblock %}
{% endblock %}