{% extends 'base.html' %}

{% block title %}Sign-Up!{% endblock %}


{% block contents %}
<div class="col-l mt-4">
<h2>Sign-Up!</h2>
<h4>Already have an account? Log in <a href="{{url_for('login')}}">here</a>!</h4>

    <form action="{{ url_for('signup') }}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <div class="form-group">

                {{field.label(class="form-label mt-4")}}
                {{field(class="form-control")}}

        </div>

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}