{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}


{% block contents %}

<h1>Update: {{current_user.first_name}} {{current_user.last_name}}'s Profile</h1>
<div class="form-group">
    <form action="{{ url_for('submit_user_update') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <div class="mt-2">
            <fieldset>
                {{field.label(class="form-label")}}
                {{field(class="form-control")}}
            </fieldset>
        </div>

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>
{% endblock %}